## **Условие 1:**
## Оформляйте ноутбук, используя эти советы:
## Номер задачи - заголовок 2 ##

### Номер подзадачи - заголовок 3 ###

*Предоставленные наборы данных оформляйте, как код*

**Рекомендации для преподавателей по оценке задания:**
**Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий**

## Условие 2:
* На складе лежат разные фрукты в разном количестве.

* Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [91]:
def name_amount_fruits(**kwargs):
    for key, value in kwargs.items():
        print(f'{key} - {value}')
    total = sum(kwargs.values())
    return f'итого фруктов: {total}'
    print()

In [92]:
name_amount_fruits(apples = 200, bananas = 100, cucumbers = 450)

apples - 200
bananas - 100
cucumbers - 450

'итого фруктов: 750'

## Условие 3:
*Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200] 
Используйте list comprehensions*

In [62]:
a = sum([i for i in [100, 125, -90, 345, 655, -1, 0, 200] if i >= 0])
a
f'сумма затрат на рекламу = {a}'

'сумма затрат на рекламу = 1425'

## Условие 4:
Даны два списка.
- Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
- Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions
### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [94]:
import numpy as np 
date_of_purchase = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
                 '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
                 '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
                 '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
                 '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
                 '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [95]:
purchase_amounts = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 
                    4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
                    2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [96]:
def data_base(x:list, y:list) -> dict:
    data = {}
    for i in range(len(x)):
        data[x[i]] = y[i]
    return data

In [97]:
big_data = data_base(date_of_purchase, purchase_amounts)
big_data

{'2021-09-14': 1270,
 '2021-12-15': 8413,
 '2021-09-08': 9028,
 '2021-12-05': 3703,
 '2021-10-09': 2732,
 '2021-09-30': 2008,
 '2021-12-22': 295,
 '2021-11-29': 4944,
 '2021-12-24': 5723,
 '2021-11-26': 3701,
 '2021-10-27': 4471,
 '2021-12-18': 651,
 '2021-11-09': 316,
 '2021-11-23': 4274,
 '2021-09-27': 6275,
 '2021-10-02': 4988,
 '2021-12-27': 6930,
 '2021-09-20': 2971,
 '2021-12-13': 6333,
 '2021-11-01': 2004,
 '2021-12-06': 519,
 '2021-12-08': 3406,
 '2021-10-31': 5015,
 '2021-10-26': 5700,
 '2021-12-09': 2887}

In [106]:
def november_data(data1: list, data2: list) -> list:
    new_data = []
    for i in range(len(data1)-1):
        if '-11-' in data1[i]:
            new_data.append(data2[i])
    return new_data

In [107]:
november_data(date_of_purchase, purchase_amounts)

[4944, 3701, 7037, 4274, 2004, 2822, 316]

In [114]:
print(*november_data(date_of_purchase, purchase_amounts))

4944 3701 7037 4274 2004 2822 316

In [115]:
print(f'общий доход ноября: {sum(november_data(date_of_purchase, purchase_amounts))}')

общий доход ноября: 25098